/* thanks to SO user HBuoy for the idea https://stackoverflow.com/q/62370119 */
.rst-content .question .admonition-title {
    background: #AD85AD;
}

.rst-content .question {
   background: #EDE5ED
}

.rst-content .question .admonition-title:before {
    content: " \F059";
}
