/* thanks to SO user HBuoy for the idea https://stackoverflow.com/q/62370119 */
.sd-card-header.question.docutils {
    background-color: #7e03536b;
    border-color: #2d021ee6;
    text-indent: -1.4rem;
}

.sd-card-header.question.docutils p {
    color: var(--pst-color-text-base);
    font-weight: var(--pst-admonition-font-weight-heading);

}

.sd-card.question.docutils {
    border-color: #2d021ee6;
    border-left: .2rem solid;
    border-left-color: #cc00cc;
    background-color: var(--pst-color-on-background);
}

.sd-card.question.docutils p {
    margin-left: 1rem;
}

.ref {
    padding-left: 30px;
    text-indent: -36px;
}
