/* thanks to SO user HBuoy for the idea https://stackoverflow.com/q/62370119 */
.sd-card-header.question.docutils {
    background-color: #7e03536b;
    text-indent: -3px;
}

.sd-card-header.question.docutils p {
    color: var(--sd-color-light);
    font-weight: bold;
}

.sd-card.question.docutils {
    border-color: #2d021ee6;
}

.ref {
    padding-left: 30px;
    text-indent: -36px;
}
