/* thanks to SO user HBuoy for the idea https://stackoverflow.com/q/62370119 */
.sd-card-header.question.docutils {
    background-color: #7e03536b;
}

.ref {
    padding-left: 30px;
    text-indent: -36px;
}
